{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href=""></a>
        <div class="">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item {% if active == 'tasks' %} active {% endif %}">
                        <a class="nav-link" href="{{ url_for('.tasks') }}">tasks</a>
                    </li>
                    <li class="nav-item {% if active == 'new_task' %} active {% endif %}">
                        <a class="nav-link" href="{{ url_for('.new_task') }}">nueva tarea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('.logout') }}">logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if active == 'login' %} active {% endif %}">
                        <a class="nav-link" href="{{ url_for('.login') }}">login</a>
                    </li>
                    
                    <li class="nav-item {% if active == 'register' %} active {% endif %}">
                        <a class="nav-link" href="{{ url_for('.register') }}">register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12 col-md-offset-1">
            {% with messages = get_flashed_messages(with_categories=True) %}

                {% if messages %}

                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}

            {% endwith %}
        </div>

        {% block container %}
        {% endblock %}
    </div>
</div>
{% endblock %}